{# @todo Final template structure. #}

{%- if content is not empty and vendor is not empty -%}
  {{- attach_library('burda_cmp/liveramp.conditional-content') -}}

  <div class="burda-cmp-conditional-content" data-burda-cmp-conditional-content="{{ content|e('html_attr') }}" data-burda-cmp-vendor="{{- vendor|e('html_attr') -}}"{% if purposes is not empty %} data-burda-cmp-purposes="{{ purposes|join(',')|e('html_attr') -}}"{% endif %} aria-expanded="false">
    <div class="burda-cmp-conditional-content__content">
      {# Placeholder message (if any). #}
      {%- if message is not empty -%}
        <div data-burda-cmp-conditional-content-placeholder>
          {{- message -}}
        </div>
      {%- endif -%}

      {# Wrapper for actual injected content. #}
      <div data-burda-cmp-injected-content></div>

      {# Toggle to inject/remove actual conditional content. #}
      <a href="#!" data-burda-cmp-toggle>Toggle</a>

      {# Show consent manager. #}
      <a href="#!" data-burda-cmp-show-consent-manager>Consent Manager</a>
    </div>
  </div>
{%- endif -%}
